<!DOCTYPE html>
<html>
<head>
 
</head>

<body>

<div class="container">
<h1>Database Results</h1>

<ul>
    <% results.forEach( function (r)  { %>
        <li><%= r.name %> - <%= r.type %> - <%= r.url %></li>
    <% }); %>
</ul>

<ul>
    <% results.forEach( function (r)  { %>
        <li><%= r.name %> </li>
    <% }); %>
</ul>

</div>

</body>
</html>

